sphinx==5.3.0
sphinx-intl
sphinx-copybutton
sphinx-togglebutton
sphinx-inline-tabs
# matplotlib
# myst-parser
sf-heu

# theme
# if sf-pydata-sphinx-theme install fails, please replace it to pydata-sphinx-theme
sf-pydata-sphinx-theme
